<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.8.2/dist/pickr.min.js"></script>
  <%- include('partials/header', { title: title }) %>
</head>
<body>
  <%- include('partials/navigation', { profile: profile }) %>

  <section class="sub-hero">
    <div class="container small">
      <div class="imba-teaser">
        <div class="logo-wrapper-2">
          <h1 class="heading">create</span></h1>
        </div>
      </div>
      <p>keep it, share it - do whatever you want...<br/>just <strong>make it PAPP</strong> for onchain summer</p>
    </div>
  </section>
  <section class="section-top">
    <div class="container">
      <div id="cursorCanvas" class="cursordiv"></div>
      <div id="create" class="creator-frame">
        <div class="creation-wrapper">
          <div id="grid-container" class="w-embed">
            <svg id="grid" width="640" height="640" viewBox="0 0 640 640"></svg>
          </div>
        </div>
        <div class="toolbox">
          <div id="color-picker-container" class="tools">
            <div class="tools-wrapper">
              <select class="select-grid" id="gridSizeSelector">
                <option value="8">8x8</option>
                <option value="16">16x16</option>
                <option value="32">32x32</option>
                
              </select>
              <button class="btn-grid" id="clearCanvasButton">clear canvas</button>
              <button id="toggleGridButton" href="#" class="btn-grid w-inline-block">hide grid</button>
              <div class="tools-hor">
                <button class="undo" id="undoButton"></button>
                <button class="redo" id="redoButton"></button>
              </div>
            </div>

            <div class="tool-block-wrapper">
              <div class="tool-block">
                <p class="tool-title">color</p>
                <div class="div-block-8">
                  <div id="colorPickerContainer" class="pickr-container"></div>
                  <a id="eyeDropperButton" href="#" class="pipette w-button"></a>
                </div>
              </div>
              <div class="tool-block">
                <p class="tool-title">canvas</p>
                <div id="backgroundColorPickerContainer" class="pickr-container"></div>
              </div>
            </div>
          </div>
          <div class="tool-block-wrapper">
            <p class="tool-title">brush size</p>
            <div class="brushes w-embed">
              <div id="cursorCanvas"></div>
              <button class="brush-size-button size1 active" data-size="1"></button>
              <button class="brush-size-button size2" data-size="2"></button>
              <button class="brush-size-button size3" data-size="4"></button>
            </div>
            <p class="tool-title">mode</p>
            <div class="mode-wrapper w-embed">
              <button id="drawModeButton" class="tool-button draw active"></button>
              <button id="eraseModeButton" class="tool-button erase"></button>
            </div>
          </div>
        </div>
        <div class="download-buttons">
          <a id="downloadSVG" href="#" class="action-btn download w-button">download svg</a>
          <a id="downloadPNG" href="#" class="action-btn download w-button">download png</a>
          <a id="downloadIMBA" href="#" class="action-btn download-imba w-button">download imba</a>
          <a id="submitButton" href="#" class="action-btn mint w-button">submit</a>
          <a id="shareButton" href="#save-import" class="action-btn w-button">imba infos</a>
        </div>
      </div>
    </div>
  </section>

  <section class="sub-section">
    <div class="container full">
      <div class="share-wrapper center">
        <p>download your creation, share it and don&#x27;t forget to tag <a href="https://x.com/PunkApepen" target="_blank"><span class="textlink">@PunkApepen</span></a> and <a href="https://x.com/ItMightBeArt" target="_blank"><span class="text-link">@ItMightBeArt</span></a></p>
      </div>
    </div>
  </section>

  <section id="save-import" class="short-section">
    <div class="container top">
      <div class="s-wrapper">
        <div class="files">
          <div class="w-embed">
            <input class="action-btn import w-button" type="file" id="uploadIMBA" accept=".imba" />
          </div>
        </div>
        <div>
          <h2 class="h2">save, import &amp; share</h2>
          <p>The <code>*.imba</code> file format allows you to save your current grid design to your local machine. This file captures the state of your artwork, including the position and color of each grid cell. You can import an <code>*.imba</code> file later to continue working on your design, share it with others, or finalize it at your convenience. This format is ideal for collaborative projects, enabling seamless transitions between different stages of your work.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="sub-hero">
    <div class="container">
      <div class="imba-teaser">
        <h3 class="sub-heading">It might be art: Embodying The PunkApepen Trinity</h3>
        <div class="info-block-2">
          <p class="text-block-small"><strong>PAPP THE WORLD<br/></strong>For the Community, By the Community<br/><br/>Built for community expression, &quot;it might be art&quot; lets you create, share, and enjoy your unique PAPP creations. Have fun generating and showcasing your art in true PAPP style, embodying the spirit of our vibrant community.</p>
          <p class="text-block-small"><strong>PAPP LEGACY</strong><br/>Sticker the World with PAPP<br/><br/>Spread the PAPP legacy far and wide. With &quot;it might be art,&quot; everyone can become a part of the PAPP movement. Create your own PAPP, make your mark, and ensure everyone has a piece of the PAPP experience.</p>
          <p class="text-block-small"><strong>WE PAPP’IN</strong><br/>Empowering Creativity<br/><br/>With &quot;it might be art,&quot; everyone can become a creator. We provide the tools and support you need to express yourself through your own generated PAPP, nurturing creativity and strengthening the PAPP brand.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="sub-section full-width">
    <div class="container full">
      <div class="addition-block ideas">
        <img src="https://cdn.prod.website-files.com/65e6f23379c0b1c77c35d82a/6654e4d746cf76136257e7f8_PAPP-ideas%402x.png" loading="lazy" alt="" class="ideas-papp"/>
        <p class="text-block ideas"><strong>Welcome to the pre-alpha version of our IMBA Pixel Art Tool!</strong> <br/><br/>This early release is all about experimenting and discovering if creating pixel art with our tool brings joy and creativity to our users. Your feedback is crucial for us to understand what features and improvements would make this tool even better.<br/><br/>We’re excited to see how you use IMBA and are eager to hear your suggestions for expanding its capabilities. If you have innovative ideas or would like to support us in optimizing and building out this tool, feel free to reach out: <a href="mailto:gm@punkapepen.com?subject=IMBA">gm@punkapepen.com</a></p>
      </div>
    </div>
  </section>

  <!-- Modal Structure -->
  <div id="submitModal" class="modal">
    <div class="modal-content">
      <h4>Submit Your Art</h4>
      <div id="modalImageContainer">
        <!-- SVG image will be inserted here -->
      </div>

      <!-- <label for="imageTitle">Title</label> -->
      <input type="text" id="imageTitle" name="imageTitle" placeholder="title" required>
      <!-- <label for="imageDescription">Description (optional, max 100 characters):</label> --> 
      <input type="text" id="imageDescription" placeholder="description" maxlength="100">
      <p id="input-length">0/100</p>
      <div id="walletMessage" style="color: red; display: none;">
        Please connect your wallet to submit.
      </div>
      <div class="modal-footer">
        <button id="modalBackButton" class="modal-close btn">Back</button>
        <button id="modalSubmitButton" class="btn">Submit</button>
      </div>
    </div>
  </div>

  <div id="infoModal" class="info-modal">
  <div class="info-modal-content">
    <span id="infoModalClose" class="info-modal-close">&times;</span>
    <p id="infoModalMessage"></p>
  </div>
</div>

  <%- include('partials/footer') %>
  <script src="/js/common.js"></script>
  <script src="/js/uploadModule.js"></script>
  <script src="/js/pixel-canvas.js"></script>
</body>
</html>
