<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header', { title: title }) %>


  <%- include('partials/navigation', { profile: profile }) %>
  <section class="hero-section">
    <div class="container hero">
        <div class="head-wrapper">
          
          <div class="intro-text">
            <div class="column">
              <h1>it might be art</h1>
              <h2>a pixel-canvas for everyone</h2>
            </div>
            <div class="column">
              It might be art is not just an easy-to-use pixel canvas for low-resolution pixel art but also the start of an open pixel art collection where everyone can participate.
              <br />
              <a href="https://www.punkapepen.com/" target="_blank">PunkApepen</a> collectors act as curators, selecting works from the submissions for the it might be art collection.
              <br /><br />
              <a href="/create">> start creating</a><br />
              <a href="/submissions">> view submissions</a>


          </div>
          </div>
        </div>
    
    </div>
  </section>

  <section class="section">
    <div class="container center"> 
      <div class="image-teaser" id="image-teaser"></div>
    </div>
  </section>

  <%- include('partials/footer') %>

  <!-- close fade-in div -->
  </div>

  
  <script src="/js/index.js"></script>

</body>
</html>
