<div class="nav-container">
  <a href="/" class="logo w-nav-brand"><img src="/images/smiley.svg" loading="lazy" alt="smiley"></a>
  <nav>
    <div class="menu">
      <a href="/">home</a>
      <a href="/create">create</a>
      <a href="/gallery">gallery</a>
    </div>

    <div id="nav-profile">
      <a href="#" id="profile-link" style="display:none;">profil</a>
      <button class="btn" id="wallet-disconnect" style="display:none;">disconnect</button>
      <button class="btn" id="wallet-connect" style="display:block;">connect wallet</button>
    </div>
  </nav>
  <script src="/js/connect.js"></script>
</div>
